*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    margin: 0;
}

.card {
    position: relative;
    background-color: hsl(216, 50%, 16%);
    padding: 0.9rem 0;
    border-radius: 0.9rem;
    box-shadow: 0 0 2rem black;
    width: 15.625rem;
    margin: 5rem auto;
}

/* --- Image Section --- */

.img-container {
    background-size: 200px;
    width: 200px;
    height: 200px;
}

.hover-state {
    /*  Layout  */
    position: absolute;
    left: 25px;
    top: 10px;
    margin: 10px 0;

    /*  Styling  */
    background-size: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-image: url(images/image-equilibrium.jpg);
}

.view-container {
    /*  Layout  */
    display: flex;
    justify-content: center;
    align-items: center;

    /*  Styling */
    background-color: hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 0;
}

/* --- Text Section -- */

.product {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin: 1.625rem;
    margin-bottom: 0.625rem;
}

.description {
    color: hsl(215, 51%, 70%);
    margin: 0.125rem 1.625rem;
    font-weight: 300;
    font-size: 0.725rem;
    line-height: 1.5;
}

.info {
    display: flex;
    margin: 0 1.625rem;
}

.coin {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 0.65em;
    padding-left: 0.3125rem;
}

.time {
    color: hsl(215, 51%, 70%);
    font-size: 0.65em;
    padding-left: 0.3125rem;
}

.price {
    display: flex;
    padding-right: 3.125rem;
    height: 15px;
    align-items: center;
    margin: 0.75rem 0;
}

.clock {
    display: flex;
    align-items: center;
}

.hr {
    width: 200px;
    height: 0.5px;
    background-color: hsl(215, 32%, 27%);
    margin: 0 auto;
}

/* --- NFT Creator --- */

.creator-credit {
    color: hsl(215, 51%, 70%);
    font-size: 0.75rem;
}

.creator-credit span {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: 12px;
    padding-left: 2px;
}

.creator {
    display: flex;
    align-items: center;
    margin: 0.625rem 1.625rem;
}

.creator img {
    width: 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.creator .creator-credit {
    padding-left: 15px;
    margin-bottom: 10px;
}

/* --- Attribution Section --- */

.attribution {
    margin: 1rem 0;
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(215, 51%, 70%);
    text-decoration-thickness: 2px;
}

/*--- Hover States ---*/

.view-container:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(178, 100%, 50%, 0.4);
    border-radius: 10px;
    height: 100%;
    opacity: 1;
}

.product:hover {
    color: hsl(178, 100%, 50%);
}

.creator-credit span:hover {
    color: hsl(178, 100%, 50%);
}

.attribution a:hover {
    color: hsl(178, 100%, 50%);
}