*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
}

section {
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 5px 20px 25px black;
}

.img-container {
    position: relative;
}
.img-hover {
    width: 200px;
    height: 200px;
    background-color: hsl(178, 100%, 50%);
    opacity: 0.25;
    position: absolute;
    left: 25px;
    top: 10px;
    border-radius: 10px;
}
.cube-img {
    color: white;
    width: 200px;
    border-radius: 10px;
    margin: 10px 25px;
    background-image: url("images/image-equilibrium.jpg");
}
.view {
    position: relative;
    left: 75px;
    top: 75px;
}

.product {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin: 0 10px 0 30px;
}

.description {
    color: hsl(215, 51%, 70%);
    margin: 10px 10px 0 30px;
    font-weight: 300;
    font-size: 0.65em;
    line-height: 1.5;
}

.coin {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: 0.65em;
    padding-left: 5px;
}

.time {
    color: hsl(215, 51%, 70%);
    font-size: 0.65em;
    padding-left: 2.5px;
}

.hr {
    width: 200px;
    height: 0.5px;
    background-color: hsl(215, 32%, 27%);
    margin: 0 auto;
}

.designer-credit {
    color: hsl(215, 51%, 70%);
    font-size: 10px;
}

.designer-credit span {
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    font-size: 12px;
}

.pnt {
    display: flex;
    margin: 5px 10px 0 25px;
}

.price {
    display: flex;
    padding-right: 50px;
    height: 15px;
    align-items: center;
    margin: 12px 0;
}

.clock {
    display: flex;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
    margin-left: 26.25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 10px 0 10px 26.25px;
}

.avatar img {
    width: 30px;
    border: 1px solid white;
    border-radius: 30px;
}

.avatar .designer-credit {
    font-weight: 300;
    font-size: 12px;
    padding-left: 15px;
}

.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(215, 51%, 70%);
}

/*--Hover States--*/
.product:hover {
    color: hsl(178, 100%, 50%);
}

.designer-credit span:hover {
    color: hsl(178, 100%, 50%);
}

.cube-img:hover {
    z-index: 0;
}